*{
  padding: 0;
  margin: 0;
}
.wraper{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}
.left{
  width: 20%;
}

.right{
  width: 80%;
}
.header{
  position: absolute;
  left: 20%;
  top: 5%;
  font-size: 3em;
}
.butn{
  position: absolute;
  top: 40%;
  left: 6%;
  width: 8em;
  height: 5em;
}
.res{
  position: relative;
  top: 38%;
  left: 2%;
  font-size: 1.8em;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
